@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  html,
  body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: block;
  }

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded;
    cursor: pointer;
  }
  .btn-primary {
    border: 1px solid theme('colors.primary');
    @apply bg-white text-primary;
  }
  .btn-primary:hover {
    @apply bg-primary text-white;
  }
}
